.content-div
{
	min-height: 800px;
	background-color: grey;
}

.left-sidebar
{
	min-height: 800px;
	background-color: white;
	padding-top: 5%;
}

.playground
{
 min-height: 800px;
 background-color: orange;
}

.toolbar
{
	min-height: 150px;
}

.playground-footer
{
	min-height: 100px;
	background-color: black;
}

.budget-sidebar
{
  margin-bottom: 60px;
}

.central-toolbar .row, .right-toolbar .row
{
 min-height: 40px;
 padding-top: 20px;
}